
.VBoxCentralizeWrapper{
     -fx-alignment: center;
     -fx-width: 100%;
     -fx-height: 50%;
}

.button {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10 20;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-border-color: #388E3C;
    -fx-border-width: 2px;
}

.button-green {
}

.button-blue{
}

.buttonRed {
    -fx-background-color: red;
}

.button:hover {
    -fx-background-color: #45a049;
    -fx-border-color: #2E7D32;
}

.button:pressed {
    -fx-background-color: #388E3C;
    -fx-padding: 8 18;
}

.tableHome {
    -fx-opacity: 0.8;
}